<div class="form">
  <div class="box">
    <div class="row mt-3"><h3 class="m-auto">Thông tin sản phẩm</h3></div>
    <div class="row mt-5">

      <!-- textbox nhap -->
      <div class="col-6">
        <div class="textbox">
          <span>Tên sản phẩm </span>
          <input type="text" placeholder="Tên sp:" [(ngModel)]="name" id="name">
        </div>
        <div class="textbox">
          <span>Loại sản phẩm </span>
          <select style="height: 30px;" name="" id="cate"  (change)="Select($event)">
            <option value="" selected disabled>-Chọn loại sản phẩm-.</option>
            <option value="{{item}}" *ngFor="let item of categories">{{ item }}</option>
          </select>
        </div> <div class="textbox">
          <span>Số lượng </span>
          <input type="number" placeholder="Số lượng" [(ngModel)]="count" id="count">
        </div>
      </div>
       <!--end textbox nhap -->

      <!--Chon ảnh  -->
      <div class="col-6">
        <div class="row">
          <div class="col-5 h-100">
            <br><br><br>
            <span>Ảnh sản phẩm</span>
          </div>
          <div class="col-7 select-img">
            <!-- <p>{{fakepathImg}}</p> -->
           <i class="far fa-file" style="font-size: 150px;cursor: pointer;" (click)="ChoseFile()" id="imgChose" title="Chọn ảnh"></i>
           <img src="assets/{{preview}}" alt="" id="preview" (click)="ChoseFile()" class="img">
           <input type="file" style="display:none;" id="file" [(ngModel)]="fakepathImg" class="imgIn">
          </div>

        </div>
      </div>
      <!-- end chọn ảnh -->

    </div>
    <!-- button luu & hủy -->
    <div class="row mt-4">
      <div class="m-auto">
      <button class="btn btn-success mr-5" (click)="Add()">Save</button>
      <button class="btn btn-danger huy"  (click)="Huy()">Hủy</button>
    </div>
    </div>
    <!-- end button l & h -->

  </div>
  <!-- data table -->
  <div class="box" id="table">
    <table class="table table-hover table-bordered table-info">
      <thead>
        <th>Tên</th>
        <th>Loại SP</th>
        <th>Số lượng</th>
        <th>Ảnh</th>
      </thead>
      <tbody id="getData">
        <tr class="getTd" *ngFor="let item of data" (click)="getData(item)">
          <td>{{item.name}}</td>
          <td>{{item.categories}}</td>
          <td>{{item.count}}</td>
          <td><img src="assets/{{item.img}}" alt=""></td>
        </tr>
      </tbody>
    </table>

  </div>
  <!-- end data table -->
</div>


